# Default ignored files
/.idea
/docker-compose-fullstack
**/target
**/.gradle
**/build
**/*.iml
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
